home-assistant.log
.cloud/
.storage/
deps/
www/
tts/
ssl/
custom_components/
adb/
secrets.yaml
known_devices.yaml
entity_registry.yaml
cloud.yaml
.shopping_list.json
.uuid
plex.conf
device.py
configurator.py
*.cal
*.com
jq
